<tabbedpanel height="190px" width="230px" meta="{'student details':'.s1','registration':'#s2','dummy':'#s3'}"></tabbedpanel>
<div class="s1">
<table>
<tr><td>Name</td><td>Class</td><td>Roll</td></tr>
<tr><td>Arjun</td><td>12</td><td>32</td></tr>
<tr><td>Lala</td><td>12</td><td>07</td></tr>
<tr><td>Murari</td><td>12</td><td>12</td></tr>
<tr><td>Jagarnath</td><td>12</td><td>29</td></tr>
<tr><td>Popa</td><td>12</td><td>30</td></tr>
</table>
</div>
<div id="s2">
<table>
<tr><td>Name</td><td><input type="text"></td></tr>
<tr><td>Class</td><td><input type="number"></td></tr>
<tr><td>Roll</td><td><input type="number"></td></tr>
</table>
</div>
<div id="s3">
<ul>
<li>Item1</li>
<li>Item2</li>
<li>Item3</li>
<li>Item4</li>
<li>Item5</li>
<li>Item6</li>
</ul>
</div>
